a:hover{
    text-decoration: none;
}

.barra-nav{
    background-color: #280709;
}

.img-properties{
    background-image: url("../../../assets/img/HomeBackground.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.card-design-outside{
    background-image: url("../../../assets/img/wood.jpg");
    background-size: cover;
    width: 100%;
}

.card-design-inside{
    background-color: transparent;
}