/*Home*/

a:hover{
    text-decoration: none;
}

.barra-nav, .card-cabecera, .card-border{
    background-color: #280709;
}

.img-properties{
    background-image: url("../../../assets/img/InicioImage.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.card-design-outside{
    background-image: url("../../../assets/img/Wood.jpg");
    background-size: cover;
    width: 100%;
}

.card-design-inside{
    color: #f3f3f3;
    background-color: transparent;
}

/*Home*/

/*Nosotros*/

.nosotros-properties{
    background-image: url("../../../assets/img/NosotrosImage.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}

/*Nosotros*/

/*Servicios*/

.servicios-properties{
    background-image: url("../../../assets/img/ServicioImage.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}

/*Servicios*/