<div id="barra-navegacion" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 barra-nav">
    <h5 class="my-0 mr-md-auto font-weight-normal text-warning">Pocket-Table</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-white" href="#">Home</a>
        <a class="p-2 text-white" href="#">Nosotros</a>
        <a class="p-2 text-white" href="#">Servicios</a>
        <a class="p-2 text-white" href="#">Contactanos</a>
    </nav>
    <a class="btn bg-primary text-white">Unete a PT!</a>
</div>

<div id="wallpaper-home" class="row img-properties m-0">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4 d-flex flex-column">
        <div class="my-auto card-design-outside rounded p-2">
            <div class="card-design-inside m-md-2">
                <h5 class="font-weight-bold d-flex justify-content-center text-justify">
                    Pocket-Table te ofrece un amplio catálogo de restaurantes ubicados en distintas ciudades de EEUU,
                    con informaciones veridicas de los mismos y rating en base a los clientes que los frecuentan. 
                </h5>
            </div>
        </div>
    </div>
</div>